<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="roeevakrat.betterme">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CounterScreen"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/home_screen_widget_info"/>
        </receiver>
        <receiver
            android:name=".WidgetReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <activity android:name=".WeeklyChart">
        </activity>
        <activity android:name=".PositiveFeedbackScreen">
        </activity>
        <activity android:name=".NegativeFeedbackScreen">
        </activity>
        <activity android:name=".LoginScreen">
        </activity>

        <receiver
            android:name=".NotificationsReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>